@import '../../styles/theme';
@import '../../styles/utils';

.gameViewContainer {
    position: relative;
    padding: $container-padding;
    background: rgba($color: $page-bg-color-2, $alpha: 0.8);
    border-radius: $container-border-radius;
}
