@import '../../styles/theme';
@import '../../styles/utils';

.gameViewContainer {
    position: relative;
    padding: $container-padding;
    background: $page-bg-color-2;
    border-radius: $container-border-radius;
}
