//fonts
$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

// colors:
$text-color: #282c34;
$success-color: #1c6e08;
$danger-color: #ffa159;
$white-color: #fff;

$bg-color-1: #8681bd;
$bg-color-2: #5ba8e1;
$bg-color-3: #74726f;

//paddings
$container-padding: 18px;
