@mixin full-screen-w-h {
    width: 100%;
    height: 100%;
}

@mixin d-flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin rotate($deg) {
    transform: rotate($deg);
}

@mixin button($textColor, $bgColor, $borderColor) {
}
