@import '../../styles/theme';
@import '../../styles/utils';
.boardContainer {
    position: relative;
    @include gradient(to bottom, $gradient1);
    border-radius: $container-border-radius / 2;
    border: $container-border;
}
