@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&family=Tourney:wght@300&display=swap');
@import './styles/theme';
@import './styles/utils';
body {
    margin: 0;
    font-family: $base-font-family;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
    @include full-screen-w-h;
}
